adium-theme-ubuntu==0.3.4
ansible==2.10.0
argcomplete==1.9.4
asn1crypto==0.24.0
astroid==1.4.4
backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.4
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
CouchDB==1.2
cryptography==2.3
docker==3.4.1
docker-pycreds==0.3.0
enum34==1.1.6
httplib2==0.9.2
idna==2.6
ipaddress==1.0.19
Jinja2==2.9.6
lazy-object-proxy==1.2.1
logilab-common==1.1.0
MarkupSafe==1.0
mininet===2.3.0d1
paramiko==2.4.1
pexpect==4.0.1
ptyprocess==0.5
pyasn1==0.4.2
pycparser==2.18
pyflakes==1.1.0
pylint==1.5.2
PyNaCl==1.2.1
PyYAML==3.12
requests==2.19.1
scapy==2.2.0
six==1.11.0
unity-lens-photos==1.0
urllib3==1.22
websocket-client==0.47.0
wrapt==1.8.0
